* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.912);
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.item {
    width: 300px;
    height: 200px;
    background-color: rgb(91, 91, 91);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 .7rem;
    font-size: 2rem;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.item h3 {
    z-index: 10;
}